img-modal {

  * {
    // border: 2px solid red;
  }

  #delete-icon {

    font-size: 2.5rem;
  }

  .containerDiv {

    padding: 2rem;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .closeButton {

    float: right;
  }

  .modalImgDiv {


  }

}
